@charset "UTF-8";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
  background-color: #35648C;
  text-align: center;
}

.imagem__logo-menu {
  width: 280px;
  padding-top: 15px;
}

.menu__horizontal {
  display: inline-block;
}

.container__menu {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.menu__horizontal-links {
  display: inline-block;
}

.menu__horizontal-links a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 0 15px 0 15px;
}

@media (min-width: 640px) {
  .cabecalho {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu__horizontal {
    background-color: transparent;
  }
}

@media (min-width: 1044px) {
  .cabecalho {
    padding-left: calc((100% - 1280px) / 2);
    padding-right: calc((100% - 1280px)/ 2);
  }
}