body {
  background: #8fcbd9;
}

.cabecalho {
  width: 100%;
  text-align: center;
}

.cabecalho__logo {
  width: 200px;
  margin-top: 2em;
}

.container__menu {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 1em;
  background-image: linear-gradient(#35648c, #264a69);
}

.cabecalho__menu-link {
  display: inline-block;
}

.cabecalho__menu-link a {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 0.9em;
  color: white;
}

.cabecalho__menu-link::after {
  content: "|";
  box-shadow: 1px 3px 2px rgba(255, 255, 255, 0.123);
}

.container__corpo {
  width: 85%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
}